<h3 style="text-align: center; color: rgb(41, 150, 41);font-size: 170%">ONLINE REGISTRATION OF TOBACOO TRADERS,RCMC & GSP CERTIFICATION AND SUBMISSION
    OF RETURNS </h3>

<table>
    <tr>



        <td rowspan="2" style="border: 1px solid #CCC;" width="31%" font>
            <br><br>
            <li> Letter of Undertaking Proforma for Processors </li>
            <li> Letter of Undertaking Proforma for Manufacturers </li>
            <li> Letter of Undertaking Proforma for Dealers </li>
            <li> Letter of Undertaking Proforma for Exporter of Tobacco </li>
            <li> Letter of Undertaking Proforma for Packers </li>
            <li> Letter of Undertaking Proforma for Exporter of Tobacco Products </li>
            <li> Letter of Undertaking Proforma for Commercial Graders </li>
            <li> Proforma Bank Certificates </li>
        </td>

        <td align="center" style="padding: 1px;">
            <div width="100%"
                style=" padding: 8px; border: 1px solid  #CCC;  -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; ">
                <h3 style="color:rgb(16, 83, 83);font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 250%;"> <u>News & Updates</u> </h3>
                <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                    <ul>
                        <li style="color: rgb(23, 87, 226);"> RCMC - Registration and Return filing updates </li>
                        <li>Exporters having RCMC registration with Tobacco Board are hereby exempted from filing of the
                            quarterly RCMC returns. The monthly returns being submitted in Form-18/Form -34/Form 31(32)
                            as
                            applicable would continue to remain the same.</li>
                        <li>Traders Fresh / Renewal of Registration for the calendar year 2021 starts from 05.10.2020
                            onwards.
                        </li>
                        <li style="color: rgb(23, 87, 226);">వ్యాపారస్తులు మరియు వర్జీనియా పొగాకు తయారీదారులుగా 2021
                            సంవత్సరమునకు నమోదుకు ప్రకటన </li>
                        <li style="color: rgb(23, 87, 226);">Notification For Registration of Traders and Manufacturers
                            of Virginia Tobacco for the year 2021 </li>
                        <li style="color: rgb(23, 87, 226);">Fee Detail for Fresh and Renewal Registration of all
                            Categories of traders for the year 2021 </li>
                        <li>Registered Traders under all categories may please note that penalty for Late filing of
                            returns for
                            the months of February, March, April, May and June, 2020 is not applicable if the same are
                            filed on
                            or before 31.07.2020.</li>
                        <li>Traders applying for Registration can obtain Login details themselves by clicking on “
                            Sign-up”
                            button</li>
                        <li>DDs and other Documents may be sent to the Address available at Login page of this Website.
                        </li>
                    </ul>
                </marquee>
            </div>
        </td>
        <td style="border:1px solid #CCC; padding: 1px" align="center" width="35%">
            <div>
                <form [formGroup]='fg' (ngSubmit)="login()">
                    <p style="color: rgb(128, 34, 196); font-size: 250%; text-decoration: underline  dotted  rgb(92, 33, 134);"> Log In </p>
                    <mat-icon aria-hidden="false" arian-label="person icon">person</mat-icon>
                    <mat-form-field>
                        <mat-label>Login ID</mat-label>
                        <input matInput type="text" value="" formControlName="LoginID">
                    </mat-form-field><br>
                    <mat-icon aria-hidden="false" arian-label="lock icon">lock</mat-icon>
                    <mat-form-field>
                        <mat-label>password</mat-label>
                        <input matInput type="password" value="" formControlName="password">
                    </mat-form-field><br>
                    <button style="text-align: center;" mat-raised-button color="primary"> sign in</button><br><br>
                    <div>
                        <a href="signup" style="text-decoration: none" >sign up</a> As New User |
                        <a href="forgotpassword" style="text-decoration: none" >forgot Password</a>
                    </div>
                </form>

            </div>
        </td>
    </tr>
    <tr>
        <p style="text-align: center;">Contact Details</p>
        <table style="border-spacing: 10px;">
            <tr>
                <th style="padding-right: 300px;">Contact Name</th>
                <th style="padding-right: 300px;">Phone.No</th>
                <th style="padding-right: 300px;">Email</th>
            </tr>
            <tr>
                <td>For Online Assistance</td>
                <td>0863-2338484</td>
                <td>jhamsi@gmail</td>
            </tr>
            <tr>
                <td>For Assistance</td>
                <td>082338484</td>
                <td>msi@gmail</td>
            </tr>
            <tr>
                <td> Assistance</td>
                <td>91763918111</td>
                <td>khdjhansi@gmail</td>
            </tr>
            <tr>
                <td>Asst. Manager (Accts) – for RCMC</td>
                <td>082338484</td>
                <td>exports@tobaccoboard.co.in</td>
            </tr>
            <tr>
                <td>For Assistance</td>
                <td>082338484</td>
                <td>msi@gmail</td>
            </tr>
        </table>
    </tr>


</table>