<div style="margin-left :35% ;  ">
    <div style=" border:3px solid grey ; width: 350px ; padding : 5% ">
        <h2 style="font-family:fantasy;color: rgb(0, 32, 139);"> <u> Find your Account </u></h2><br>
        <form [formGroup]='fg' (ngSubmit)="fpassword()">
            <table>
                <tr>

                    <td> <label for="Login">Login</label></td>
                    <td> : </td>
                    <td> <input type="text" id="Login" value="" formControlName="login" placeholder="Login ID"> </td>

                </tr>
                <tr>

                    <td><label for='Password'>Password</label></td>
                    <td> : </td>
                    <td> <input type="Password" id="Password" value="" formControlName="Password"
                            placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td> <label for='confirmpassword'>confirmpassword </label></td>
                    <td> : </td>
                    <td> <input type="password" id="confirmpassword" value="" formControlName="confirmpassword"
                            placeholder="confirmpassword">
                    </td>
                </tr><br>
                <tr>
                    <td colspan="3" style="text-align: center;"><button mat-raised-button color="primary"> Search
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>